# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Fetching The Data

In [2]:
data = pd.read_csv("Data.csv")

In [3]:
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, -1].values

In [5]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [6]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

# Imputing The Missing Values Using InBuilt Libraries

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

In [27]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

# Imputing The Missing Values Using My Methods

In [28]:
import numpy
class MySimpleImputer():
    def __init__(self):
        pass
    def fit(self, dataset):
        self.no_of_cols = dataset.shape[1]
        self.values = [0] * self.no_of_cols
        
        for col in range(self.no_of_cols):
            sum_of_col = 0
            count_of_col = 0
            for row in dataset[:, col]:
                if row != np.nan:
                    sum_of_col += row
                    count_of_col += 1
            self.values[col] = sum_of_col/count_of_col
            
    def transform(self, dataset):
        new_dataset = []
        for col in range(self.no_of_cols):
            new_row = []
            for row in dataset[:, col]:
                if row == np.nan:
                    new_row.append(self.values[col])
                else:
                    new_row.append(row)
            new_dataset.append(new_row)
        return new_dataset
    def fit_transform(self, dataset):
        self.fit(dataset)
        return self.transform(dataset)

In [29]:
myimputer = MySimpleImputer()

In [30]:
myimputer.fit(X[:, 1:3])

In [32]:
myimputer.values

[38.77777777777778, 63777.777777777774]

In [33]:
myimputer.no_of_cols

2

In [34]:
myimputer.transform(X[:, 1:3])

[[44.0, 27.0, 30.0, 38.0, 40.0, 35.0, 38.77777777777778, 48.0, 50.0, 37.0],
 [72000.0,
  48000.0,
  54000.0,
  61000.0,
  63777.77777777778,
  58000.0,
  52000.0,
  79000.0,
  83000.0,
  67000.0]]

In [35]:
myimputer.fit_transform(X[:, 1:3])

[[44.0, 27.0, 30.0, 38.0, 40.0, 35.0, 38.77777777777778, 48.0, 50.0, 37.0],
 [72000.0,
  48000.0,
  54000.0,
  61000.0,
  63777.77777777778,
  58000.0,
  52000.0,
  79000.0,
  83000.0,
  67000.0]]