# Importing Libraries

In [3]:
import pandas as pd
import numpy as np

# Fetching The Data

In [4]:
data = pd.read_csv("Data.csv")

In [5]:
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [6]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, -1].values

In [7]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [8]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

# Splitting the dataset into the Training set and Test set Using InBuilt Libraries

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=21)

In [11]:
X_train

array([['France', 48.0, 79000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 44.0, 72000.0],
       ['Germany', 40.0, nan],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [12]:
X_test

array([['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0]], dtype=object)

In [13]:
Y_train

array(['Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes'], dtype=object)

In [14]:
Y_test

array(['Yes', 'No'], dtype=object)

# Splitting the dataset into the Training set and Test set Using My Methods

In [24]:
import math
def my_train_test_split(X, Y, test_size=0.25):
    data_len = (len(X)*test*100)//100
    
    return X[:data_len], X[data_len:], Y[:data_len], Y[data_len:]

In [25]:
MX_train, MX_test, MY_train, MY_test = train_test_split(X, Y, test_size=0.2, random_state=21)

In [26]:
MX_train

array([['France', 48.0, 79000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 44.0, 72000.0],
       ['Germany', 40.0, nan],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [27]:
MX_test

array([['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0]], dtype=object)

In [28]:
MY_train

array(['Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes'], dtype=object)

In [29]:
MY_test

array(['Yes', 'No'], dtype=object)